/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

/* Reset */

html,body,div,span,applet,object,iframe,h1,p,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: url('/pontesbg.png') center/cover no-repeat fixed;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

/* Tela total */

.pontes {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: stretch;
}


.esquerda,
.principal,
.direita {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 0;
    animation: popupShow 0.35s ease forwards;
}


/* Esquerda */

.esquerda {
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
}

.icones-esquerda {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.icones-esquerda img {
    width: 320px;
}

.icones-direita img {
    margin-top: 13px;
    width: 320px;
}

.pesos {
    justify-content: end;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin-bottom: 80px;
    gap: 20px;
}

.linhas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-left: 5px solid #12356A;
}

.linha {
    display: flex;
}

.esquerda-linha,
.direita-linha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa_tipo {
    color: #fff;
    width: 200px;
    height: 50px;
    padding: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 30px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.caixa_kilo {
    padding: 20px;
    color: #fff;
    border-radius: 10px;
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
    background: rgba(2, 46, 95, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.caixa_kilo:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

#proximo {
    background: linear-gradient(0deg, #12356A 30%, #4B6B60 100%);
}

#atual {

}

#anterior {
    background: linear-gradient(0deg, #4B6B60, 30%, #12356A 100%);
}

.pesos.primeiro-clique-ativo #tipo {
  display: flex !important;
}
.pesos.primeiro-clique-ativo #kilorecorde {
  display: flex !important;
}

/* Meio */

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.equipe select {
    width: auto;
    text-align: center;
    font-size: 64.8px;
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    appearance: none;
}

.equipe select:open {
    background-color: rgb(80, 125, 70);
}

option {
    background-color: #022E5F;
    color: white;
}

.equipe select:focus {
    border-color: #007bff;
    font-size: 43.2px;
}

.principal {
    color: #fff;
    text-align: center;
    gap: 43.2px;
    align-items: center;
}

.principal h3 {
    font-size: 37.8px;

    text-decoration: underline;
}

.status h3 {
    font-size: 37.8px;
    text-decoration: none;
}

.contagem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
    background: linear-gradient(0deg, #12356A 30%, #4B6B60 100%);
    border-radius: 50%;
    -webkit-box-shadow:0px 0px 109px 1px rgba(0,255,136,0.56);
    -moz-box-shadow: 0px 0px 109px 1px rgba(0,255,136,0.56);
    box-shadow: 0px 0px 109px 1px rgba(0,255,136,0.56);
}

.pulsing-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    height: 470px;
    border-radius: 50%;
    animation: pulsar-animacao 2s infinite ease-in-out;
}

@keyframes pulsar-animacao {
    0% {
        box-shadow: 0 0 0 0px var(--pulsing-color);
        transform: scale(1);
    }
    70% {
        box-shadow: 0 0 0 40px transparent;
        transform: scale(1.02);
    }
    100% {
        box-shadow: 0 0 0 0px transparent;
        transform: scale(1);
    }
}

.tempo {
    font-size: 250px;
    font-weight: 900;
    color: white;;
}

.status {
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.status h3 {
    margin-bottom: 16.2px;
}

/* Direita */

.direita {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    height: 100%;
    align-items: center;
}

.apoio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.apoio img {
    width: 324px;
    height: auto;
}

.cargas,
.apoio,
.icones {
    flex: 1;
    display: flex;
}

.icones {
    justify-content: end;
    gap: 16.2px;
    margin-top: 23.76px;
}

.icones img {
    width: auto;
    height: 108px;
}

.icones a {
    height: 34.56px;
}

.cargas {
    display: flex;
    flex-direction: column;
    font-size: 100px;
    text-align: center;
    color: white;
    justify-content: center;
    margin-bottom: 60px;
}

.cargas p {
    margin-right: 21.6px;
    text-align: left;
}

/* Pop-up */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(2, 46, 95, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.popup-container {
  background: linear-gradient(180deg, #022E5F 30%, #688B5F 100%);
  border-radius: 16.2px;
  padding: 32.4px 32.4px 32.4px;
  width: 594px;
  box-shadow: 0 7.56px 21.6px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  gap: 37.8px;
  align-items: center;
  opacity: 0;
  transform: scale(0.85);
  animation: popupShow 0.35s ease forwards;
}

@keyframes popupShow {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-container img {
    width: 216px;
    user-select: none;
    pointer-events: none;
}

.popup-text {
    font-size: 32.4px;
    color: #fff;
    flex: 1;
    text-align: center;
}

.popup-title {
    display: flex;
    align-items: center;
    flex-direction: initial;
    width: 100%;
    gap: 21.6px;
}

.popup-input {
    width: 90%;
    border: none;
    border-radius: 5.4px;
    background: rgba(255, 255, 255, 0.18);
    font-size: 27px;
    color: white;
    font-weight: 600;
    box-shadow: 0 3.24px 5.4px rgba(0, 0, 0, 0.12);
    outline: none;
    transition: background 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.popup-input:focus {
    background: rgba(255, 255, 255, 0.18);
}

.popup-input:focus::placeholder {
  color: transparent;
}

.popup-input::placeholder {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.popup-buttons {
    display: flex;
    justify-content: center;
    gap: 10.8px;
}

.popup-ok,
.popup-cancel {
    padding: 10.8px 32.4px;
    border: none;
    border-radius: 9.72px;
    font-size: 19.44px;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
}

.popup-ok {
    background: linear-gradient(180deg, #022E5F 30%, #2c4561 100%);
}

.popup-cancel {
    background: linear-gradient(180deg, #022E5F 30%, #2c4561 100%);
}

.popup-options {
    display: flex;
    gap: 10.8px;
}