/* Fontes */

@import url('https://fonts.googleapis.com/css2?family=:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap');

/* Reset */

html, body, div, span, applet, object, iframe, h1, p, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: url('/pontesbg.png') center/cover no-repeat fixed;
    margin: 0;
    min-height: 100vh;
    overflow: hidden;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Tela total */

.pontes {
    display: flex;
    height: 100vh;
}

.pesos, .principal, .direita {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

/* Esquerda */

.pesos {
    justify-content: flex-end;
    margin-bottom: 4vh;
}

.linhas {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 2vh;
}

.linha {
    display: flex;
}

.esquerda-linha, .meio-linha, .direita-linha {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
  background: #006494;
  color: #fff;
  box-shadow: rgba(0,0,0,.1) 0 0.6vh 1.6vh;
  
  width: 16vh;
  height: 3vh;
  margin: 0vh 0.2vh -5vh;
  border-radius: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  box-sizing: border-box;
  font-size: 2.2vh;
}

#tipo {
  background: #507d46;
  font-size: 1.8vh;
  white-space: nowrap;
}

#kilorecorde {
    background-color: #507d46;
}

/* Meio */

.equipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

.equipe select {
    width: auto;
    text-align: center;
    font-size: 6vh;
    
    outline: none;
    background-color: transparent;
    color: white;
    border: none;
    appearance: none;
    font-weight: 900;
}

.equipe select:focus {
    border-color: #007bff;
    color: black;
    font-size: 4vh;
}

.principal {
    color: #fff;
    text-align: center;
    gap: 4vh;
    align-items: center;
    justify-content: space-between;
}

.principal p {
    font-size: 6vh;
    
    margin: 3vh 0 1.5vh;
}

.principal h3 {
    font-size: 3.5vh;
    
    text-decoration: underline;
}

.status h3 {
    font-size: 3.5vh;
    text-decoration: none;
}

.circulo {
    width: 38vh;
    height: 38vh;
    background: linear-gradient(180deg, #022E5F 30%, #688B5F 100%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: po;
}

.circulo p {
    font-size: 22vh;
    text-align: center;
    margin-bottom: 5vh;
}

.status {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.status h3 {
    margin-bottom: 1.5vh;
}

/* Direita */

.direita {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin-right: 8vh;
}

.apoio {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-right: 2vh;
}


.apoiotexto {
    
    font-size: 3.5vh;
    margin-right: 1vh;
    color: #fff;
}

.apoio img {
    width: 12vh;
    height: 12vh;
}

.cargas, .apoio, .icones {
    flex: 1;
    display: flex;
}

.icones {
    justify-content: end;
    gap: 1.5vh;
    margin: 2.2vh 1.5vh 0 0;
}

.icones img {
    width: auto;
    height: 10vh;
}

.icones a {
    height: 3.2vh;
}

.cargas {
    display: flex;
    flex-direction: column;
    align-items: end;
    
    font-size: 5vh;
    text-align: center;
    color: white;   
}

.cargas p {
        margin-right: 2vh;
}